<div class="page-header">
	<h1><%= content_tag :span, @stop.name, class: 'btn btn-large btn-warning' %> 
		<small><%= @stop.code %></small> <%= raw api_links(@stop) %></h1>
	<div class="details">
		(<%= @stop.lat %>, <%= @stop.lon %>), heading <%= @stop.direction %>.
		Operated by <%= link_to @stop.agency.name, agency_path(@stop.agency.oba_id) %>.
	</div>
</div>
<h2>Routes <small><%= @stop.routes.count %> results</small></h2>

<ul>
<% @stop.routes.order('code').each do |route| %>
	<%= raw route_item(route) %>
<% end %>
</ul>
