<div class="page-header">
	<h1><%= @stop.name %> <small><%= @stop.code %></small></h1>
	 (<%= @stop.lat %>, <%= @stop.lon %>), heading <%= @stop.direction %>.
	Operated by <%= @stop.agency_code %>.
</div>
<h2>Routes</h2>

<ul>
<% @stop.routes.each do |route| %>
	<%= raw route_item(route) %>
<% end %>
</ul>
