<div class="page-header">
	<h1><%= link_to @agency.name, agencies_path, class: 'btn btn-large btn-info' %></h1>
	<div class="details">
		<%= link_to "Official Site", @agency.url %> | Phone: <%= @agency.phone %> <br />
		<%= @agency.disclaimer %>
	</div>
</div>

<h2>Routes</h2>

<ul>
<% @agency.routes.order('name').each do |route| %>
	<%= raw route_item(route) %>
<% end %>
</ul>
