<div class="page-header">
	<h1><%= content_tag :span, @route.name, class: 'btn btn-large btn-success' %> 
		<small><%= @route.description %></small> <%= raw api_links(@route) %></h1>
	<div class="details">
		<%= link_to "Schedule Information", @route.url %>. Route Type <strong><%= @route.route_type %></strong>. Operated by <%= link_to @route.agency.name, route_path(@route.agency.oba_id) %>
	</div>
</div>
<h2>Stops <small><%= @route.stops.count %> results</small></h2>

<ul>
<% @route.stops.each do |stop| %>
	<%= raw stop_item(stop) %>
<% end %>
</ul>
