<!DOCTYPE html>
<html>
<head>
  <title>Whichbus Workshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<span class="brand">WhichBus Workshop</span>
			<ul class="nav">
				<% %w[agencies routes stops].each do |model| %>
				<li <%= if model == params[:controller] then 'class=active' end %>>
					<%= link_to model.capitalize, "/#{model}" %>
				</li>
				<% end %>
			</ul>
			<form class="navbar-search pull-left" action="/search">
				<%= text_field_tag 'query', nil, class: "search-query span2", placeholder: 'search' %>
			</form>

		</div>
	</div>
</div>
<div class="container">
<%= yield %>
</div>

</body>
</html>
