<!DOCTYPE html>
<html>
<head>
  <title>WhichBus</title>
  <%= stylesheet_link_tag    "transit", :media => "all" %>
  <%= javascript_include_tag "transit" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= csrf_meta_tags %>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28348026-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="settings-menu">
	<div id="settings-title">
		<h3>Settings</h3>
	</div>
	<div id="settings-search">
		<input class="search" name="search" id="search" placeholder="Search Routes and Stops">
	</div>
	<div id="settings-list">
		<ul>
			<li id="settings-favorites"><img src="http://placehold.it/25x25"><span>Favorites</span> <small class="label label-info">COMING SOON</small></li>
			<li><img src="http://placehold.it/25x25"><span>My Account</span> <small class="label label-info">COMING SOON</small></li>
			<li><img src="http://placehold.it/25x25"><span><%= link_to 'Send Us Feedback', '/about/issues' %></span></li>
			<li><img src="http://placehold.it/25x25"><span><%= link_to 'About WhichBus', '/about' %></span></li>
		</ul>
	</div>	
</div>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid whichbus-nav">
			<a href="/" class="icon bus"></a>
			<a id="whichbus" class="pacifico" alt="WhichBus" href="/">WhichBus</a>
			<!-- 
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			Future menu area, realized we should not use Bootstrap expandable thing and should instead
			develop our own based on Paige's specs
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li>Future menu area</li>
				</ul>
			</div>
			-->
			<button id="menu-btn" type="button" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" id="settings-button" class="icon settings" onclick=Transit.toggleMenu()></a>			
		</div>
	</div>
</div>
<%= yield %>

<div class="copyright">
	<span class="copy">&copy;</span> 2012 <%= link_to 'WhichBus', '/about' %>
	| <%= link_to 'Terms of Service', '/about/terms' %>
	| <%= link_to 'Privacy Policy', '/about/privacy' %>
    | <%= link_to 'Known Issues', '/about/issues' %>
</div>
</body>
</html>
