<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>WhichBus</title>
	<link href="<%= image_path("favicon.png") %>" rel="icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-itunes-app" content="app-id=593354958, app-argument=foobar" />
	<%= stylesheet_link_tag    "transit", :media => "all" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="settings-bg" ></div>
<div class="navbar navbar-fixed-top unselectable">
	<div class="navbar-inner">
		<div class="container-fluid whichbus-nav">
			<div id="text-logo" class="block left">
				<a href="/">WhichBus</a>
			</div>
			<div class="block right">
				<!-- <a id="locate" class="icon" href="/nearby" rel="tooltip" title="find me">
					<i class="icon-screenshot"></i><label>Locate</label>
				</a>
				<a id="directions" class="icon popout" href="#" rel="tooltip" title="get directions" data-popout="Directions">
					<i class="icon-map-marker"></i><i class="icon-map-marker"></i>
					<label>Directions</label>
				</a>
				<a id="search" class="icon popout" href="#" rel="tooltip" title="search transit" data-popout="Search">
					<i class="icon-search"></i><label>Search</label>
				</a> -->
				<!-- <a id="favorites" class="icon popout" href="#" rel="tooltip" title="favorites" data-popout="Favorites">
					<i class="icon-heart"></i><label>Favorites</label>
				</a> -->
	            <a id="settings" class="icon settings popout" rel="tooltip" title="settings" data-popout="Settings">
	              <i class="icon-cog"></i><label>Settings</label>
	            </a>
			</div>
		</div>
	</div>
</div>
<%= yield %>


<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDI_tGrmAMV4wPYDHCbkdOhpSCsYT8dBPI&sensor=true&libraries=geometry,places"></script>

<%= javascript_include_tag "transit" %>
<script>
	$(function() { Transit.init(); });
</script>

<% if ENV['ENABLE_GA'] %>
<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-28348026-3']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
<% end %>
</body>
</html>
